<!DOCTYPE  html >
<html>
  <head>
    <title><%=preenche_titulo(yield(:titulo)) %></title>
    <%=  stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%=  javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%=  csrf_meta_tags %>
  </head>
  <body>
    <%= link_to "Blog", "#", id: "logo" %>
    <p>
      <ul>
        <li><%=  link_to "Index", home_index_path  %></li>
        <li><%=  link_to "Help", home_help_path  %></li>
      </ul>
    </p>
    <%= yield %>
  </body>
</html>